@font-face {
  font-family: 'Raleway-Regular';
  src: url('//cdn.8thwall.com/web/fonts/raleway-regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.8thwall.com/web/fonts/raleway-regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('//cdn.8thwall.com/web/fonts/raleway-bold.woff') format('woff'), /* Modern Browsers */
       url('//cdn.8thwall.com/web/fonts/raleway-bold.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Varela-Round';
  src: url('//cdn.8thwall.com/web/fonts/VarelaRound-Regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.8thwall.com/web/fonts/VarelaRound-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Nunito';
  src: url('//cdn.8thwall.com/web/fonts/Nunito-Regular.woff') format('woff'), /* Modern Browsers */
       url('//cdn.8thwall.com/web/fonts/Nunito-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('//cdn.8thwall.com/web/fonts/Nunito-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('//cdn.8thwall.com/web/fonts/Nunito-SemiBold.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'helnore';
  src: url('../assets/fonts/Helnore-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'gotham';
  src: url('../assets/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'blackmalika';
  src: url('../assets/fonts/BlackMalika.otf') format('opentype');
}

@font-face {
  font-family: 'lato-bold';
  src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-light';
  src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-regular';
  src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-black';
  src: url('../assets/fonts/Lato-Black.ttf') format('truetype');
}