.recorder-container {
  position: fixed;
  width: 18vmin;
  height: 18vmin;
  max-width: 10em;
  max-height: 10em;
  bottom: 14vmin;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  transition: 0.5s opacity;
}

#recorder-button {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #030150;
  border: none;
  outline: none;
  border-radius: 50%;
  transform: scale(0.6);
  transition: 0.3s border-radius, 0.3s transform;
  pointer-events: auto;
  margin: 0;
  padding: 0;
}

#tapText {
  border-radius: 113.358px;
  background: rgb(121 121 121 / 36%);
  backdrop-filter: blur(1.1335774660110474px);
  position: absolute;
  z-index: 2;
  bottom: 8vmin;
  color: white;
  font-size: 0.5rem;
  width: max-content;
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
}

.recorder-icon-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 12px; /* Adjust for desired circle size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.recorder-icon-circle img {
  width: 9vmin;
  height: 9vmin;
  object-fit: contain;
}

.progress-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  transition: 0.3s transform, 0.3s opacity;
}

.progress-track,
.progress-bar,
.loading-circle {
  fill: transparent;
  stroke-width: 1.2;
}

.progress-track {
  stroke: #ce9009;
}

.progress-bar {
  opacity: 0;
  transition: 0;
  transform-origin: 50% 50%;
  stroke: white;
  transform: rotate(-90deg);
  stroke-dasharray: 100.531 100.531;
  stroke-dashoffset: 100;
}

.recording .progress-container,
.loading .progress-container {
  opacity: 1;
  transform: scale(1);
}

.recording .progress-track,
.loading .progress-track {
  transition: 0.8s stroke;
  stroke: #fff5;
}

.recording .progress-bar {
  opacity: 1;
}

.active #recorder-button {
  transform: scale(0.5);
}

.active:not(.fixed-mode) #recorder-button {
  background: #fff5;
}

.fixed-mode #recorder-button {
  border-radius: 15%;
  transform: scale(0.42);
}

.flash-element {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0;
  transition: 0.6s opacity;
  pointer-events: none;
  z-index: 40;
}

.flash-element.flashing {
  transition: 0s opacity;
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

.loading-circle {
  stroke-dasharray: 25 25 25 25;
  stroke-dashoffset: 0;
  stroke: white;
  opacity: 0;
  transform-origin: 50% 50%;
}

@keyframes record-button-spin {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.loading .loading-circle {
  animation: record-button-spin 1.1s linear infinite both;
  opacity: 1;
}

.fade-container {
  opacity: 0;
  pointer-events: none;
}
